.container {
  max-width: 1090px;
  margin: 0 auto;
  padding-top: 52px;
  padding-left: 1px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  height: 48px;
}

.header__title {
  width: 427px;
  font-weight: 600;
  font-size: 24px;
  margin-left: -3px;
}

.header__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F7EE55;
  width: 277px;
  height: 100%;
  cursor: pointer;
}

.header__button-text {
  font-weight: 600;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  border: 1px solid #C5C5C5;
  text-align: left;
  background-color: white;
  width: 100%;
}

/* свистопляски для создания закругленных углов у таблицы 
 __________________________________________________________*/
table th:not(:last-child),
table td:not(:last-child) {
  border-right: 1px solid #C5C5C5;
}

table th,
table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
  border-bottom: 1px solid #C5C5C5;
}

/* _________________________________________________ */

thead {
  font-size: 14px;
  color: #777777;
}

th,
td {
  padding: 10px 12px;
}

th:nth-child(1) {
  width: 43px;
}

th:nth-child(2) {
  font-weight: 600;
  width: 214px;
}

th:nth-child(3) {
  font-weight: 600;
  width: 272px;
}

th:nth-child(4) {
  font-weight: 600;
  width: 235px;
}

th:nth-child(5) {
  font-weight: 600;
  width: 188px;
}

th:nth-child(6) {
  width: 40px;
}

th:nth-child(7) {
  width: 95px;
}

tbody {
  font-weight: 400;
  font-size: 16px;
  height: 43px;
  color: #333333;
}

.loader {
  height: 43px;  
}

.loader-cell {
  width: 100%;
  height: 30px;
  /* background-color: rgb(245, 242, 242);   */
  border-radius: 5px;
  animation: skeleton-loading 1s ease-in-out infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 7%, 92%);
  }
  100% {
    background-color: hsl(0, 0%, 96%);
  }
}

.mutation-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6px;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent overlay */
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

.dialog__title {
  width: 100%;
  text-align: center;
}

.dialog__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dialog__close-button {
  color: white;
  background-color: #DA1515;
  min-width: 120px;
}

.dialog__confirm-button {
  color: white;
  background-color: black;
  min-width: 120px;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}