.create-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 691px;
    padding-top: 60px;

}

.create-container__title {
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    max-height: fit-content;
    margin-bottom: 13px;
    padding: 0px;
}

.create-container__label {
    position: relative;
    width: 100%;
    height: 36px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.create-container__textarea-label {
    position: relative;
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.create-container__textarea {
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 95px;
    max-height: 300px;
    min-height: 95px;
    border: #AAAAAA 1px solid;
    border-radius: 6px;
    padding-block: 8px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #FAFAFA;
}

.create-container__input {
    position: relative;
    width: 500px;
    height: 100%;
    border: #AAAAAA 1px solid;
    border-radius: 6px;
    padding-block: 8px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #FAFAFA;
}

.create-container__dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 6px;
    border-top: none;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

.create-container__dropdown-list li {
    padding: 10px;
}

.create-container__dropdown-list li:hover {
    background-color: #e7e7e7;
}

.checkbox {
    position: relative;
    width: fit-content;
    height: 25px;
    gap: 70px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .checkbox-label {
    position: relative;
} */

.checkbox-label__checkbox {
    appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #6184FF;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    justify-self: flex-start;
    cursor: pointer;
}

.checkbox-label__custom-arrow {
    visibility: hidden;
    position: absolute;
    top: 30%;
    right: 7px;
    fill: none;
    transition: all 0.2s ease;
    cursor: pointer;
    
}

.checkbox-label__checkbox:checked +.checkbox-label__custom-arrow {
    visibility: visible;    
}

.checkbox-label__checkbox:checked {
    background-color: #6184FF;;
}


.create-container__arrow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 13px;
    top: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.create-container__arrow.open {
    transform: rotate(180deg);
}

.required:after {
    content: " *";
    color: #C30000;
}

.buttons {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.buttons__create {
    background-color: #F7EE55;
    height: 48px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0 23px;
}

.buttons__cancel {
    background-color: black;
    color: white;
}

.buttons__delete {
    background-color: #DA1515;
    color: white;
}

.button {
    height: 48px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0 23px;
    cursor: pointer;
}
